.example-spacer {
  flex: 1 1 auto;
  margin-left: 10px;
}

.example-icon {
  border: 1px solid;
  margin-left: 10px;
  display: inherit !important;
}

.text-spacer {
  margin-left: 10px;
}

.toolbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  position: -webkit-sticky;
  z-index: 10;
}

.drawer-container {
  align-items: stretch;
  width: 1000px;
  height: 500px;
  margin: 30%;
  border: 1px solid #555;
}

.mat-grid-tile {
  color: rgb(24, 15, 3);
  width: auto;
  background-color: blue;
}

.mat-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button {
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  line-height: 36px;
}
