<p>
  <mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row class="toolbar-row">
      <button mat-icon-button class="example-icon text-spacer" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <h3>App</h3>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with twitter icon">
       <mat-icon>twitter</mat-icon>
     </button>
    </mat-toolbar-row>
  </mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav >
    <mat-nav-list>

    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
</p>
